.r{
    display:grid;
    grid-auto-columns: 100vw auto;
    grid-auto-rows: 20vh auto 25vh;
    text-align: center;
  }
  .a{
      letter-spacing: 2.5vmin;
      line-height: 1.65;
      width: 32vmin;
      display: block;
      justify-self: center;
      justify-items: center;
      grid-column: 1;
      grid-row: 2/3;
      padding-top: 3vh;
    }
    .hi{
    font-size: 3vmax;
    font-weight: 700;
    padding-left: 10px;
    font-family: 'Righteous', cursive;
    color: beige;
    }
    span{
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    background: none;
    }
    h2{
      font-size: 1.3vmax;
      bottom: 1vmin;
      font-weight: 900;
      color:gray;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    img{
      border-radius: 5vmax;
      height:9vmax;
      width:9vmax;
      display: inline-block;
    }
  