.r{
    display:grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 12vh auto 28vh;
  }

.L{
  grid-column:2/3;
  grid-row:1/3;
  justify-self: left;
  display: block;
  width:2vw;
  height:2vh;
}
  .a{
      letter-spacing: 2vmin;
      line-height: 1.65;
      width: 32vmin;
      display: block;
      justify-items: center;
      justify-self: center;
      grid-column: 1/3;
      grid-row: 2/3;
      padding-top: 3vh;
    }
    .hi{
    font-size: 3vmax;
    font-weight: 700;
    padding-left: 10px;
    font-family: 'Righteous', cursive;
    color: beige;
    }
    span{
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    background: none;
    }
    h2{
      font-size: 1.3vmax;
      bottom: 1vmin;
      font-weight: 900;
      color:gray;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    img{
      border-radius: 5vmax;
      height:12vmax;
      width:12vmax;
      display: inline-block;
    }
  