
body{
  background-image: url('./shattered-island.gif');
  height: 94.5vh;
  overflow: hidden;
}

.root{text-align: center;}

.Typist{
color: beige;
cursor: pointer;
padding-top:40vh;
font-size: 8vmax;}

