.a{
    font-family: 'Oswald', sans-serif;
    display: block;
    height: 20%;
    width:20%;
    letter-spacing: 10px;
    margin-right: auto;
    margin-left: 100px;
    margin-top: 100px;
    line-height: 1.65;
    text-align: center;
  }
  body{
    background-image: url("./white-wood.jpg");
  }
  h1 {
    color: #76C5FC;
    font-size: 50px;
    display: inline-block;  
  }
  img{
    border-radius: 50%;
    height:200px;
    width:200px;
    display: inline-block;
  }